* {
    font-family: 'Work Sans', sans-serif;
}

.font-bold {
    font-size: 3rem;
    font-weight: 600;
}

.font-thin {
    font-size: 1.2rem;
    font-weight: 600;
}

.text-primary {
    color: #727272;
}

.section-title {
    font-size: 3rem;
    font-weight: 700;
}

.btn-primary {
    border: 0;
    border-radius: 8px;
    color: #FFF;
    background: #FF900E;
    margin: 32px 0;
    padding: 20px 25px;
    font-size: 20px;
    font-weight: 600;
}

/* Header Styles */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
    gap: 3rem;
}

nav li {
    list-style: none;
    color: #424242;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

.nav-title {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}

/* banner section styles */
.banner-text {
    width: 850px;
    margin: 0 auto;
    text-align: center;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}



/* main part styles */

main {
    max-width: 1440px;
    margin: 0 auto;
}

.teams-container {
    display: flex;
    align-items: center;
    margin-top: 5rem;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.team-text {
    padding: 0 5rem;
}

.team-text-title {
    font-size: 3rem;
}

.team-text-title .quick-list {
    color: #727272;
    font-weight: 500;
}

.team-text-title .of-our {
    color: #131313;
    font-weight: 700;
}

.team-text-title .text-features {
    color: #FF900E;
    font-weight: 700;
}

.team-text-description {
    color: #727272;
}

/* Features style */
.features {
    margin-top: 8rem;
    display: flex;
    gap: 3rem;
}

.features-card {
    padding: 30px;
    margin-bottom: 1rem;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.features-text .section-title {
    border-left: 5px solid #FF900E;
    padding-left: 1.5rem;
}

.ten-years-badge {
    text-align: center;
    color: #FFF;
    padding: 2rem;
    border: 0;
    border-radius: 8px;
    background: #FF900E;
    width: 338px;
    position: relative;
    bottom: 170px;
}

.features img {
    height: 85%;
    margin-left: 120px;
}

.ten-years-badge h1 {
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 0;
}

.ten-years-badge h3 {
    margin-top: 0;
    font-size: 25px;
    font-weight: 500;
}

/* Facts styles */
.facts{
    margin-top: 5rem;
}
.facts-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 2rem 4rem;
}

/* sponsors style */
.sponsors {
    text-align: center;
    margin-top: 5rem;
}

.sponsors-logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

/* footer */
footer {
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
    text-align: center;
    color: #424242;
    font-size: 1.2rem;
    margin-top: 5rem;
    border-radius: 8px;
    background: #FFF4E7;
}
footer h5{
    padding: 39px 410px;
}